#Ignore
*
*.*
**/*
**/*.*
**/**/*
**/**/*.*
**/**/**/*.*
**/**/**/**/*.*
#Don't ignore directories, so we can recurse into them
!*/
#!**/*

!.gitignore	#Gitignore file should not be ignored
!*.db		#EPICS database files
!*.proto	#EPICS protocol files
!*.subs

#Additional files
!*.cmd
!*.ino		#Arduino files
!*.pdf
!*.py		#Python scripts
!*.txt
!*.zip
!*.tar.gz

#Ignore especially
Thumbs.db
