#Ignore
*
*.*
**/*
**/*.*
**/**/*
**/**/*.*
#Don't ignore directories, so we can recurse into them
!*/
#!**/*
#but...
#e.g. Company/Device/protocol.proto
!.gitignore
!*.db
Thumbs.db
!*.proto
!*.opi
!*.plt
!*.pdf
!*.zip
!*.cmd
!*.txt
